/* Dashboard */
.dashboard {
  text-align: center;
  margin-top: 40px;
}
.form {
  width: 100%;
  max-width: 360px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.input {
  margin-right: 10px;
}

/* TodoList */
.todoList {
  max-width: 360px;
  margin: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}
